/**********************************************************************\

Styles for PasswordGenerator manual

\**********************************************************************/

@import url("blankaspect-manual.css");

dl.sysProperties {
  margin: 0.5em;
}
dl.sysProperties dt {
  font-family: monospace;
  font-weight: bold;
  padding: 0.3em 0.5em 0 0;
}
dl.sysProperties dt.multi {
  line-height: 125%;
}

dl.sysProperties dd {
  margin: 0 1.6em;
  padding: 0.2em 0.5em 0.3em 0;
}

table td.center {
  text-align: center;
}

table.twoColumnShaded {
  margin: 1.0em 2.0em;
}
table.twoColumnShaded td {
  border: 1px solid;
  padding: 0.1em 0.6em;
}
table.twoColumnShaded td.shaded {
  vertical-align: top;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  :root {
    --sys-property-color: #A04000;
  }

  .sysProperty {
    color: var(--sys-property-color);
  }

  dl.sysProperties dt {
    color: var(--sys-property-color);
  }

  table.twoColumnShaded td {
    border-color: #B4B8C8;
  }
  table.twoColumnShaded td.shaded {
    background-color: #F8F6E0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --sys-property-color: #90C0A8;
  }

  .sysProperty {
    color: var(--sys-property-color);
  }

  dl.sysProperties dt {
    color: var(--sys-property-color);
  }

  table.twoColumnShaded td {
    border-color: #606888;
  }
  table.twoColumnShaded td.shaded {
    background-color: #382420;
  }
}

/*--------------------------------------------------------------------*/
